.clear {
  clear: both;
}
ul {
  padding: 0;
  list-style-type: none;
}
body {
  margin: 0;
}
.home {
  height: 100vh;
  background-image: url("images/drew-coffman-1872.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
}
.home .navbar {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.home .navbar .logo {
  width: 20%;
  float: left;
}
.home .navbar .logo img {
  width: 185px;
}
.home .navbar .menu-links {
  width: 50%;
  float: right;
}
.home .navbar .menu-links ul {
  list-style-type: none;
}
.home .navbar .menu-links li {
  display: inline-block;
  padding: 0 10px;
}
.home .navbar .menu-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.home .content {
  margin: 50px auto;
  padding-top: 50px;
  width: 60%;
  color: white;
}
.home .content span {
  display: block;
  font-size: 20px;
  padding-top: 50px;
}
.home .content h1 {
  font-size: 40px;
  margin: 10px;
}
.home .content p {
  font-size: 20px;
}
.home .content .links {
  margin: 50px 0;
  padding: 50px 0;
}
.home .content a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
.home .content a.more {
  border: 2px solid transparent;
  background-color: #8e7754;
  margin-right: 20px;
}
.home .content a.contact {
  border: 2px solid white;
}
.circle {
  margin: 50px auto;
  width: 30px;
  padding-top: 50px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
}
.who-we-are {
  margin: 50px 0;
}
.who-we-are .image {
  width: 50%;
  display: inline-block;
  text-align: center;
}
.who-we-are .image img {
  width: 70%;
  padding-top: 50px;
}
.who-we-are .content {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}
.who-we-are .content h2 {
  color: #303030;
}
.who-we-are .content p {
  color: #686868;
}
.who-we-are .content ul {
  list-style-type: none;
  padding: 0;
}
.who-we-are .content li {
  padding: 10px;
}
.who-we-are .content li img {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  border: 1px solid #6868685b;
  border-radius: 50%;
  margin-right: 10px;
}
.who-we-are .content li span {
  display: inline-block;
  color: #686868;
  font-size: 17px;
}
.Our-Location {
  background-color: #f8f8f8;
  padding: 50px;
  margin: 50px 0;
}
.Our-Location .content {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
  padding: 0 50px;
}
.Our-Location .content h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 25px;
  color: #303030;
}
.Our-Location .content p {
  margin: 50px 0;
  color: #686868;
  font-size: 17px;
}

.Our-Location .image {
  width: 40%;
  display: inline-block;
  text-align: center;
}
.Our-Location .image img {
  width: 100%;
}
.Our-Baking {
  margin: 50px 0;
  padding: 50px;
  text-align: center;
}
.Our-Baking h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 25px;
  color: #303030;
}
.Our-Baking .about-baking {
  margin: 40px 0;
  color: #686868;
  font-size: 17px;
}
.Our-Baking .content {
  width: 90%;
  margin: auto;
}
.Our-Baking .main {
  width: 33%;
  float: left;
}
.Our-Baking .info {
  padding: 0px 10px;
}
.Our-Baking .info img {
  width: 100%;
}
.Our-Baking .content .info h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
  color: #303030;
}
.Our-Baking .content .info p {
  font-size: 17px;
  color: #686868;
}
.contact {
  padding: 20px;
  margin: 50px 0;
}
.contact .info {
  width: 40%;
  margin: 0 50px;
  padding: 0 50px;
  float: left;
}
.contact .info ul {
  list-style-type: none;
  padding: 0;
}
.contact .info ul li {
  padding: 10px;
}
.contact .info h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 25px;
  color: #303030;
}
.contact .info p {
  font-size: 17px;
  color: #686868;
  margin: 30px 0;
}
.contact .info ul li img {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  background-color: #8e7754;
  border-radius: 50%;
  margin-right: 15px;
}
.contact .info ul li span {
  color: #686868;
}
.contact .map {
  float: left;
  width: 40%;
}
.footer {
  background-color: #403d38;
  margin-top: 50px;
}
.footer .content {
  width: 90%;
  margin: auto;
  padding: 0 50px;
}
.footer .content .info {
  float: left;
  width: 20%;
  margin: 50px 30px;
}
.footer .content .info h2 {
  color: white;
  font-weight: normal;
  font-size: 18px;
  margin: 30px 0;
}
.footer .content .info p {
  color: #969696;
  margin-top: 10px;
  line-height: 2;
}
.footer .content .info ul {
  list-style-type: none;
  color: #969696;
}
.footer .content .info ul li {
  padding: 15px 0;
}
.footer .content .info ul li:not(:last-child) {
  border-bottom: 1px solid #96969641;
}
.footer .content .info ul li img {
  width: 25px;
  vertical-align: middle;
}
.footer .footer-contact {
  width: 100%;
  text-align: center;
  background-color: #353330;
}
.footer .footer-contact .image {
  margin-top: 50px;
  width: 350px;
}
.footer .footer-contact p {
  color: #686868;
}
.footer .footer-contact a img {
  width: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #484540;
  margin: 15px 5px 50px 0;
}
